
/* ******core styles of page***** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: var(--black-text);
}

:root{
    --background-color: #F5F3EF;
    --card-color: #FFFFFF;
    --yellow-accent:#FEBD2F;
    --black-text: #000000;
    --gray-text: #646464;
    --outline: #DCDCDC;
    --font-regular:'Roboto', sans-serif;
    --font-medium:'Roboto Medium', sans-serif;
    --font-bold:'Roboto Bold', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 470px 600px auto;
    grid-template-areas: 
    "head head head head"
    "slogan slogan slogan slogan"
    "main main main main"
    "footer footer footer footer";
}

/* ********* end of core styles ********* */


/* ************** NAVBAR CSS *********** */

.header{
    background-color: var(--background-color);
    grid-area: head;
    display: flex;
    justify-content: space-between;
    padding: 0px 90px 5px 90px;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 13%;
    flex-wrap: wrap;

}

.header img{
    width: auto;
    height: 38px;
}

.header button{
    background-color: var(--black-text);
    color: var(--background-color);
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    cursor: grabbing;
}

/* ******************* END OF NAVBAR CSS ************ */


/* ******************* START OF SLOGAN/TITLE CSS ********* */


.slogan{
    background-color: var(--background-color);
    grid-area: slogan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red
}

.title-card{
    display: flex;
    flex-direction: column;
    border: 2px solid green;
}
.title-card h1{
    padding-bottom: 20px;
    font-family: var(--font-regular);
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
}

.title-card p{
    color: var(--gray-text);
}

.title-image img{
    border: 5px solid red;
    width: 80%;
}



.main{
    background-color: deeppink;
    grid-area: main;
}

.footer{
    background-color:rebeccapurple;
    grid-area: footer;
}