
/* ******core styles of page***** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: var(--black-text);
}

:root{
    --background-color: #F5F3EF;
    --card-color: #FFFFFF;
    --yellow-accent:#FEBD2F;
    --black-text: #000000;
    --gray-text: #646464;
    --outline: #DCDCDC;
    --font-regular:'Roboto', sans-serif;
    --font-medium:'Roboto Medium', sans-serif;
    --font-bold:'Roboto Bold', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 470px 600px auto;
    grid-template-areas: 
    "head head head"
    "slogan slogan slogan"
    "main main main"
    "footer footer footer";
}

/* ********* end of core styles ********* */


/* ************** NAVBAR CSS *********** */

.header{
    background-color: var(--background-color);
    grid-area: head;
    display: flex;
    justify-content: space-between;
    padding: 0px 90px 5px 90px;
    align-items: center;
}

.header nav{
    display: flex;
    width: 13%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header img{
    width: auto;
    height: 38px;
}

.header button{
    background-color: var(--black-text);
    color: var(--background-color);
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    cursor: grabbing;
}

/* ******************* END OF NAVBAR CSS ************ */


/* ******************* START OF SLOGAN/TITLE CSS ********* */


.slogan{
    background-color: var(--background-color);
    grid-area: slogan;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid red
}

.title-card{
    display: flex;
    flex-direction: column;
}
.title-card h1{
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 64px;
}

.title-card p{
    color: var(--gray-text);
    font-size: 20px;
    font-weight: lighter;
}

.title-image img{
    width: 500px;
}


/* ********************* MAIN BODY CARDS ************** */

.main{
    background-color: deeppink;
    grid-area: main;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding-bottom: 30px;
  }

.card{
  display: flex;
  flex-direction: column;
  background-color:#ECF8F8 ;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 5px 5px 20px gray;
  width: 90%;
  gap:10px;
}

.card h3, .card p{
  padding-inline:20px;
}

.card button{
  margin-bottom: 20px;
  border: none;
  background-color: #EE6C4D;
  color: white;
  border-radius: 12px;
}

  .card img{
    width: 100%;
    border-radius: 13px 13px 0px 0px;
  }

  .card h3{
    text-align: center;
  }


.footer{
    background-color:rebeccapurple;
    grid-area: footer;
}